header {
    width: 100%;
    background-color: blue;
    text-align: center;
}

h1 {
    color: white;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid black;
}

form{
    display: inline;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.table th {
    background-color: #f2f2f2;
    color: black;
}
.table tr:nth-child(even) {
    background-color: #f9f9f9;
}
.table tr:hover {
    background-color: #ddd;
}
.actions form {
    display: inline-block;
    margin: 0;
}
.btn {
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
    margin-right: 5px;
}
.btn-primary {
    background-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
}
.btn-danger {
    background-color: #dc3545;
}
.btn-danger:hover {
    background-color: #c82333;
}
.btn i {
    margin-right: 5px;
}